[alias]
        st  = status
        pr  = pull --rebase
        dc  = diff --cached
        dcw = diff --cached --color-words
        dw  = diff --color-words
        cm = commit -m
        fix = commit --amend
        graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        update = "!git stash && git pr && git stash pop"
[user]
        name = Philip Mueller
        email = mail@philip.in-aachen.net
[color]
        ui = true
[push]
        default = current
